:root {
    --main-radius: 5px;
    --main-padding: 15px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.container {
    display: grid;
    width: 50%;
    height: fit-content;
    grid-template-areas: 
    "header-bar"
    "reservation"
    "footer-bar";
    grid-gap: 5px;
    font-family: monospace;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: var(--main-padding);
    margin: auto;
}

#reservation {
    grid-area: reservation;
    background-color: #FCF0E1;
    border: 3px solid #F9D3A5;
    display: block;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    margin: 40px 0;
}

form {
    width: 80%;
    margin: auto;
}

form fieldset {
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--main-padding);
}

form legend{
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

form label{
    font-size: 12px;
}

form input{
    width: 70%;
    margin-bottom: 10px;
}

button {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    border-radius: var(--main-radius);
}

#header-bar {
    grid-area: header-bar;
    padding-top: 50px;
    background-color: #FFFFF0;
    width: 100%;
    display: block;
}

#footer-bar {
    grid-area: footer-bar;
    padding-bottom: 35px;
    background-color: #FFFFF0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

@media only screen and (max-width: 620px) {
    h1 {
        font-size: 20px;
        text-transform: uppercase;
    }
    
    .container {
        padding: auto;
    }
    
    #reservation {
        margin: 10px auto;
    }
    
    form {
        width: 80%;
        margin: auto;
    }
    
    form fieldset {
        padding: 5px;
        margin: 5px;
    }
    
    form input{
        margin-bottom: 5px;
    }
    
    button {
        padding: 5px;
    }

    #header-bar {
        padding-top: 30px;
    }
    
    #footer-bar {
        padding-bottom: 20px;
    }
}

