:root {
    --main-radius: 5px;
    --main-padding: 15px;
}

h1 {
    font-size: 20px;
    text-transform: uppercase;
}

.container {
    display: grid;
    width: 80%;
    height: fit-content;
    grid-template-areas: 
    "header-bar"
    "reservation"
    "footer-bar";
    grid-gap: 5px;
    font-family: monospace;
    font-weight: 500;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: var(--main-padding);
    margin: auto;
}

#reservation {
    grid-area: reservation;
    background-color: #FCF0E1;
    border: 3px solid #F9D3A5;
    display: block;
    padding: var(--main-padding);
    border-radius: var(--main-radius);
    margin: 40px 0;
}

form {
    width: 70%;
    margin: auto;
}

form fieldset {
    padding: var(--main-padding);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--main-padding);
}

form legend{
    font-size: 15px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

form label{
    font-size: 12px;
}

form input {
    width: 300px;
    margin-bottom: 10px;
}

#remark {
    width: 300px;
    height: 100px;
    text-align: justify;
}

#reservation-time {
    width: 300px;
    margin-bottom: 10px;
}

#phone-number {
    display: flex;
    justify-content: center;
    width: 300px;
}

/* Info icon */
.info-tip {
    padding-top: 2px;
    padding-left: 5px;
    border-radius: 50%;
    position: relative;
}

.info-tip::before,
.info-tip::after {
    --scale: 0;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%) translateY(-250%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom center;
}

.info-tip::before {
    content: attr(data-tooltip);
    font-size: 10px;
    text-align: center;
    padding: 5px;
    border-radius: var(--main-radius);
    width: max-content;
    background-color: #FFFFF0;
    border: 1px solid #ECECEC;
}

.info-tip:hover::before,
.info-tip:hover::after {
    --scale: 1;
}

button {
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
    padding: 10px;
    border-radius: var(--main-radius);
}

#header-bar {
    grid-area: header-bar;
    padding-top: 50px;
    background-color: #FFFFF0;
    width: 100%;
    display: block;
}

#footer-bar {
    grid-area: footer-bar;
    padding-bottom: 35px;
    background-color: #FFFFF0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* For phone */
@media only screen and (max-width: 699px) {
    .container {
        width: 100%;
    }

    #reservation {
        margin: 0;
    }
    
    form {
        width: 90%;
    }

    form fieldset {
        padding: 10px;
        margin: 0;
    }
    
    form input {
        width: 200px;

    }
    
    #remark {
        width: 200px;
    }
    
    #reservation-time {
        width: 200px;
    }
    
    #phone-number {
        width: 200px;
    }
}

